<form action="/pessoas/filter" method="POST">
    <div class="buttons is-pulled-right">
      <!-- <label class="label">Nome</label> -->
      <div class="control">
        <input class="input is-success is-small" type="number" name="id" placeholder="Buscar por ID" required>
      </div>
    </div>
    <!-- <div class="buttons is-pulled-right">
      <div class="control">
        <button type="submit" class="button is-success is-small">Buscar</button>
      </div>
    </div> -->
</form>

