<form action="/pessoas/filter" method="POST">
  <div class="field has-addons">
    <!-- <label class="label">ID</label> -->
    <div class="control">
      <input class="input is-info is-small" type="number" min="1" name="id" placeholder="Buscar por ID" required>
    </div>
    <div class="control">
      <button type="submit" class="button is-info is-small">Buscar</button>
    </div>
  </div>
</form>
